# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Packages
package-lock.json


# pages
EMAILJS_SETUP.md
convert-png-to-svg.
convert-png-to-svg.js
ADMIN_DASHBOARD_README.md
ADMIN_SETUP_COMPLETE.md
EXAMPLE_SUPABASE_INTEGRATION.jsx
SETUP_CHECKLIST.md
START_HERE.md
SUPABASE_QUICKSTART.md
SUPABASE_SETUP.md