@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideOut {
  animation: slideOut 0.5s ease-in-out forwards;
}

.animate-slideIn {
  animation: slideIn 0.5s ease-in-out forwards;
}
